header {
    text-align: center;
}
header img {
    width: 350px;
    height: 350px;
}

.social-bar {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 20px;
}
.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}
.social-icon img:hover {
    transform: scale(1.5);
}
